@import url(https://fonts.googleapis.com/css?family=Lato:900,300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

#flight-datepicker {
  margin-top: 0px;
}
#flight-datepicker .form-item {
  position: relative;
  /*margin: 12px 0 60px;*/
  width: 88%;
}
@media screen and (min-width: 400px) {
  #flight-datepicker {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
#flight-datepicker .form-item {
  position: relative;
  /*margin: 12px 0 60px;*/
}

@media screen and (max-width:923px){
  #flight-datepicker .form-item {
    position: relative;
    /*margin: 12px 0 60px;*/
    width: 100%;
  }

}
@media screen and (min-width: 400px) {
  #flight-datepicker .form-item {
    /*margin: 12px 24px 0 0;*/
  }
} 
#flight-datepicker label {
  display: block;
  margin-bottom: 8px;
  color: white;
}
#flight-datepicker input {
  display: block;
  margin-bottom: 0px;
  padding-bottom: 7px;
  width: 88%;
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  color: #000;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  outline: none;
  -webkit-transition: border-color .2s ease-out;
  transition: border-color .2s ease-out;
}
#flight-datepicker input:first-child, #flight-datepicker input:last-child {
  border-radius: 0;
}
#flight-datepicker input::-webkit-input-placeholder {
  color: #0e3e43;
  font-size: 14px;
  line-height: 30px;
  -webkit-transition: color .2s .2s ease-out;
  transition: color .2s .2s ease-out;
}
#flight-datepicker input:-moz-placeholder {
  color: #0e3e43;
  font-size: 14px;
  line-height: 30px;
  -webkit-transition: color .2s .2s ease-out;
  transition: color .2s .2s ease-out;
}
#flight-datepicker input::-moz-placeholder {
  color: #d7d7d7;
  font-size: 14px;
  line-height: 30px;
  -webkit-transition: color .2s .2s ease-out;
  transition: color .2s .2s ease-out;
}
#flight-datepicker input:-ms-input-placeholder {
  color: #0e3e43;
  font-size: 14px;
  line-height: 30px;
  -webkit-transition: color .2s .2s ease-out;
  transition: color .2s .2s ease-out;
}
#flight-datepicker input:focus {
  border-bottom-color: #125259;
}
#flight-datepicker input:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}
#flight-datepicker input:focus:-moz-placeholder {
  color: transparent;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}
#flight-datepicker input:focus::-moz-placeholder {
  color: transparent;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}
#flight-datepicker input:focus:-ms-input-placeholder {
  color: transparent;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}
#flight-datepicker .date-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  top: calc(100% + 6px);
  font-size: 12px;
  color: white;
}
@media screen and (min-width: 400px) {
  #flight-datepicker .date-text {
    top: 100%;
  }

}

@media screen and (max-width: 923px) {
  #flight-datepicker input {
    width: 100%;}
}


.datepicker.dropdown-menu2 {
  padding: 10px;
  background-clip: border-box;
  border: none;
  border-radius: 10px;
  /*-webkit-animation: popup .2s ease-out forwards;
          animation: popup .2s ease-out forwards;
*/
}
.datepicker.dropdown-menu2 table {
  background-color: #f4c20c;
  width: 100%;
}
.datepicker.dropdown-menu2 table thead {
  background-color: #f4c20c;
}
.datepicker.dropdown-menu2 table thead tr {
  border-top: 0;
}
.datepicker.dropdown-menu2 table tbody {
  background-color: white;
}
.datepicker.dropdown-menu2 table tr {
  border-top: 1px solid #ededed;
}
.datepicker.dropdown-menu2 table tr td, .datepicker.dropdown-menu2 table tr th {
  width: auto;
  height: 24px;
  padding: 8px;
  font-size: 16px;
  border-radius: 0;
  -webkit-transition: background-color .6s ease-out;
  transition: background-color .6s ease-out;
}
.datepicker-dropdown.datepicker-orient-left::after {
    left: 10px;
}
.datepicker-dropdown.datepicker-orient-left::before {
    left: 10px;
}

.datepicker-dropdown::after {
    content: '';
    display: inline-block;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #f4c20c;
    border-top: 0;
    position: absolute;
}

.datepicker-dropdown::before {
    content: '';
    display: inline-block;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgba(0, 0, 0, 0.15);
        border-bottom-color: rgba(0, 0, 0, 0.15);
    border-top: 0;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
}
.datepicker.datepicker-dropdown.dropdown-menu22.datepicker-orient-left.datepicker-orient-top {
  z-index: 9999 !important;
}
.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
    z-index: 0 !important;
    
}

@media screen and (min-width: 400px) {
  .datepicker.dropdown-menu2 table tr td, .datepicker.dropdown-menu2 table tr th {
    padding: 10.5px;
  }
}
.datepicker.dropdown-menu2 table tr td:hover, .datepicker.dropdown-menu2 table tr td.active:hover, .datepicker.dropdown-menu2 table tr td:active:hover, .datepicker.dropdown-menu2 table tr th:hover, .datepicker.dropdown-menu2 table tr th.active:hover, .datepicker.dropdown-menu2 table tr th:active:hover {
  border-color: #ededed;
  border-radius: 0;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}
.datepicker.dropdown-menu2 table tr td.focused, .datepicker.dropdown-menu2 table tr td.selected, .datepicker.dropdown-menu2 table tr th.focused, .datepicker.dropdown-menu2 table tr th.selected {
  background-color: #24A0AD;
  border-color: #ededed;
  border-radius: 0;
}
.datepicker.dropdown-menu2 table tr td.active, .datepicker.dropdown-menu2 table tr td.active:focus, .datepicker.dropdown-menu2 table tr td.active.active:hover, .datepicker.dropdown-menu2 table tr td:active:focus, .datepicker.dropdown-menu2 table tr td.highlighted, .datepicker.dropdown-menu2 table tr th.active, .datepicker.dropdown-menu2 table tr th.active:focus, .datepicker.dropdown-menu2 table tr th.active.active:hover, .datepicker.dropdown-menu2 table tr th:active:focus, .datepicker.dropdown-menu2 table tr th.highlighted {
  background-color: #1b7983;
  border-color: #ededed;
}
.datepicker.dropdown-menu2 table tr th.datepicker-switch {
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #000;
  background-color: inherit;
  border-radius: 0;
}
.datepicker.dropdown-menu2 table tr th.prev,
.datepicker.dropdown-menu2 table tr th.next {
  color: #000;
  background-color: #e8ba21;
  border-radius: 0;
}
.datepicker.dropdown-menu2 table tr th.dow {
  padding: 2px 12px;
  font-size: 12px;
  line-height: 2;
  color: #000;
  background-color: #e8ba21 ;
  border-top: 1px solid #d0a719;
  border-radius: 0;
}
.datepicker.dropdown-menu2 table tr td.day {
  width: 24px;
  border-right: 1px solid #ededed;
}
.datepicker.dropdown-menu2 table tr td.day:last-child {
  border-right-width: 0;
}
.datepicker.dropdown-menu2 table tr td.range {
  background-color: #eeeeee;
}
.datepicker.dropdown-menu2 .new,
.datepicker.dropdown-menu2 .old,
.datepicker.dropdown-menu2 .disabled,
.datepicker.dropdown-menu2 .disabled:hover {
  color: #ccc;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.fontawesome-calendar {
  position: absolute;
  top: 26px;
  right: 0;
  font-size: 24px;
  z-index: -99;
}

@-webkit-keyframes popup {
  from {
    opacity: 0;
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes popup {
  from {
    opacity: 0;
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.wrapper {
  max-width: 560px;
  margin: 100px auto;
}
label {
  position: relative;
  display: block;
  font-size: 14.5px;
}
label > input {
  position: relative;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 45px;
  width: 100%;
  font-size: 16px;
  margin: 0 0 30px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all .3s;
}
label > input:valid + span {
  transform: translateY(-25px) scale(0.8);
  transform-origin: 0;
}
label > input:valid {
  border-bottom: 1px solid #3F51B5;
  box-shadow: 0 1px 0 0 #3F51B5;
}
label > span {
  color: #9e9e9e;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  cursor: text;
  transition: .2s ease-out;
}
label > input:focus + span {
  transform: translateY(-25px) scale(0.8);
  transform-origin: 0;
  color: #3F51B5;
}
label > input:focus {
  border-bottom: 1px solid #3F51B5;
  box-shadow: 0 1px 0 0 #3F51B5;
}

/* Progress Bar*/

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
}

.progress-container::before {
  content:"";
  background-color: #e7e7e7;
  position: absolute;
  top:20%;
  left: 0;
  /*transform: translateY(-50%);*/
  height: 4px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease;

}

.progresstrack .progress-container {
  background-color: #28a745;
  position: absolute;
  top:22%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;

}

.progresstrack {
  background-color: #28a745;
  position: absolute;
  top:22%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;

}
.step {
  text-align: center;
  z-index: 90 !important;
}
.step-text {
  margin-top: 20px;
  color: #494949;
  text-align: center;
  font-size: 11px;
  z-index: 10;
}


.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 3px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  text-align: center;

}


.circle.active {
  border-color: var(--line-border-fill);
  background: #28a745;
  color: #28a745;
  transform: scale(1.2);
  box-shadow: 0 2px 5px rgba(153, 153, 153, 0.51);
}

.circle.active:last-child {
  width: 105px;

}
.circle .fa, .circle .far, .circle .fas {
  margin: 0px;
  color:#e7e7e7;
}
.circle.active .fa {
  color: #fff;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 3px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  text-align: center;

}


.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 3px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  text-align: center;

}


.circle.active .fas.fa-exclamation {
  
  color: #e9c80b;
  transform: scale(1.2);

}


.circle::before .fa {
  margin: 0px;
  color:#cc3030;}

.btn:active{
  transform: scale(0.97);}

.btn:disabled{
  background: #eaeaea;
  cursor: not-allowed;}

#btn-plus {
  border-radius: 50%;
  padding: 0px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background: #67c3b4;
  border-color: #67c3b4;
}
#btn-plus:hover {
  background: #83dbca;
  border-color: #83dbca;
  color: #383844;
}

.fas.fa-trash {
  color: #e42b2b !important;
  }


.row-plus {
  margin-top: -100px;
  padding: 40px 10px 40px 40px;
  display: flex;
  justify-content: flex-end !important;
}

.row-log {
  margin-left: 10%;
}

@media only screen and (max-width:768px){
  .row-log{
    margin:0;
  }
}
.progress-button {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
}

/*tooltip */
.tooltip-bar {
  visibility: hidden;
  z-index: 1;
  opacity: .40;
  
  width: 100%;
  padding: 20px 60px 0px;

  background: #fff;
  color: #494949;
  position: absolute;
  bottom: 60px;
  left: -135%;  
  border-radius: 9px;
  font: 16px;
  transform: translateY(9px);
  transition: all 0.3s ease-in-out;
  
  box-shadow: 0 2px 3px rgba(206, 206, 206, 0.86);
}


/* tooltip  after*/
.tooltip-bar::after {
  content: " ";
  width: 0;
  height: 0;
  
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #fff transparent transparent transparent;

  position: absolute;
  left: 40%;

}

.con-tooltip:hover .tooltip-bar{
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
    transition: .3s linear;
  animation: odsoky 1s ease-in-out infinite  alternate;

}
@keyframes odsoky {
  0%{
    transform: translateY(6px);	
  }

  100%{
    transform: translateY(1px);	
  }

}

/*hover ToolTip*/
.top:hover {transform: translateY(-6px);  }





@media only screen and (max-width:700px){

  .circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    border: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
    text-align: center; }

    .circle .fa {
    margin: 0px;
    font-size:10px; }
    
    .step-text {
      font-size:10px;
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    }
  .progress-container::before {
    top: 11%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
        margin-bottom: 0px;
    margin-bottom: 41px;
    align-items: flex-end;
    height: 2px;}

  .progresstrack {
    top: 12%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
        margin-bottom: 0px;
    margin-bottom: 41px;
    align-items: flex-end;
    height: 2px;}

  .tooltip-bar {
    bottom: 40px;
    left: -255%;}

  #btn-plus {
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 0px;}  
      
  .row-plus {
    margin-top: -50px;
    padding: 40px 0px 40px 40px;
    display: flex;
    justify-content: end;}
  
  .progress-button {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;}
}

@media only screen and (max-width:400px){
  .circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 15px;
    width: 15px;}

  .tooltip-bar {
    left: -410%;}

  .tooltip-bar p {
  font-size: 10px;
    }

} 



/*Bootstrap Calendar*/
.datepicker {
    border-radius: 0;
    padding: 0;
}
.datepicker-days table thead, .datepicker-days table tbody, .datepicker-days table tfoot {
    padding: 0px;
    display: list-item;
}
.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
    background: #3546b3;
    color: #ffffff;
    border-radius: 0;
}
.datepicker-days table thead tr:nth-child(2n+0) td, .datepicker-days table thead tr:nth-child(2n+0) th {
    border-radius: 3px;
    font-size: 25px;

}
.datepicker-dropdown.datepicker-orient-bottom::after {
    top: -13px !important;
}
.datepicker.dropdown-menu {
    -webkit-box-shadow: 0px 10px 15px rgba(150, 150, 150, 0.39);
    -moz-box-shadow:0px 10px 15px rgba(150, 150, 150, 0.39);
    box-shadow: 0px 10px 15px rgba(150, 150, 150, 0.39);
}


.datepicker-dropdown.datepicker-orient-bottom::before {
    top: -13px !important;
}

.datepicker-days table thead tr:nth-child(3n+0) {
    text-transform: uppercase;
    font-weight: 300 !important;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    background: #ecebeb;
}
.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 11px 13px;
}
.datepicker-months table thead td, .datepicker-months table thead th, .datepicker-years table thead td, .datepicker-years table thead th, .datepicker-decades table thead td, .datepicker-decades table thead th, .datepicker-centuries table thead td, .datepicker-centuries table thead th {
    border-radius: 0;
}
.datepicker td, .datepicker th {
    border-radius: 50%;
    padding: 0 12px;
}
.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
  background: #f4c20c;
  color: #000;
  border-radius: 0px;
}

.datepicker.dropdown-menu th, .datepicker.datepicker-inline th, .datepicker.dropdown-menu td, .datepicker.datepicker-inline td {
    color: #000;
}

.datepicker.dropdown-menu th, .datepicker.datepicker-inline th, .datepicker.dropdown-menu td, .datepicker.datepicker-inline td {
    padding: 15px 30px !important;
    font-size: 15px;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    background-image: none;
}
.datepicker .prev, .datepicker .next {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    width: 37px;
    height: 37px;
}
.datepicker .prev:hover, .datepicker .next:hover {
    background: transparent;
    color: rgba(0, 0, 0, 0.99);

}
.datepicker.dropdown-menu2 table tr th.prev, .datepicker.dropdown-menu2 table tr th.next:hover {
    background: #f4d635;
}
.datepicker .datepicker-switch {
    font-size: 24px;
    font-weight: 400;
    transition: 0.3s;
}
.datepicker .datepicker-switch:hover {
    color: rgb(0, 0, 0);
    background: transparent;
}
.datepicker table tr td span {
    border-radius: 2px;
    margin: 3%;
    width: 27%;
}
.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
  background-color: #3546b3;
  background-image: none;
}
/*.dropdown-menu2 {
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}*/
.datepicker-dropdown.datepicker-orient-top:before {
    border-top: 7px solid rgba(0,0,0,.1);
}

.image-ads {
  max-height: 300px;
  border-radius: 20px;
}

input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
	margin: 0;
	padding: 0;
  width: 100%;
	height: 0px;
	position: absolute;
	left: 0;
	top: calc(50% - 15px);
	cursor: pointer;
}

.bullet {
    position: relative;
    width: 25px;
    height: 25px;
    left: -3px;
    top: 2px;
    border: 5px solid #fff;
    opacity: 0;
    border-radius: 50%;
}

input[type="radio"]:checked ~ .bullet {
	position:absolute;
	opacity: 1;
	animation-name: explode;
	animation-duration: 0.350s;
}

.line {
	position: absolute;
	width: 10px;
	height: 2px;
	background-color: rgb(187, 61, 61);
	opacity:0;
}

.line.zero {
	left: 11px;
	top: -21px;
	transform: translateY(20px);
	width: 2px;
	height: 10px;
}

.line.one {
	right: -7px;
	top: -11px;
	transform: rotate(-55deg) translate(-9px);
}

.line.two {
	right: -20px;
	top: 11px;
	transform: translate(-9px);
}

.line.three {
	right: -8px;
	top: 35px;
	transform: rotate(55deg) translate(-9px);
}

.line.four {
	left: -8px;
	top: -11px;
	transform: rotate(55deg) translate(9px);
}

.line.five {
	left: -20px;
	top: 11px;
	transform: translate(9px);
}

.line.six {
	left: -8px;
	top: 35px;
	transform: rotate(-55deg) translate(9px);
}

.line.seven {
	left: 11px;
	bottom: -21px;
	transform: translateY(-20px);
	width: 2px;
	height: 10px;
}

input[type="radio"]:checked ~ .bullet .line.zero{
	animation-name:drop-zero;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.one{
	animation-name:drop-one;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.two{
	animation-name:drop-two;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.three{
	animation-name:drop-three;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.four{
	animation-name:drop-four;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.five{
	animation-name:drop-five;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.six{
	animation-name:drop-six;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.seven{
	animation-name:drop-seven;
	animation-delay: 0.100s;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

@keyframes explode {
	0%{
		opacity: 0;
		transform: scale(5);
	}
	60%{
		opacity: 1;
		transform: scale(0.5);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes drop-zero {
	0% {
		opacity: 0;
		transform: translateY(20px);
		height: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: translateY(-2px);
		height: 0px;
		opacity:0;
	}
}

@keyframes drop-one {
	0% {
		opacity: 0;
		transform: rotate(-55deg) translate(-20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: rotate(-55deg) translate(9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-two {
	0% {
		opacity: 0;
		transform: translate(-20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: translate(9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-three {
	0% {
		opacity: 0;
		transform: rotate(55deg) translate(-20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: rotate(55deg) translate(9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-four {
	0% {
		opacity: 0;
		transform: rotate(55deg) translate(20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: rotate(55deg) translate(-9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-five {
	0% {
		opacity: 0;
		transform: translate(20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: translate(-9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-six {
	0% {
		opacity: 0;
		transform: rotate(-55deg) translate(20px);
		width: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: rotate(-55deg) translate(-9px);
		width: 0px;
		opacity:0;
	}
}

@keyframes drop-seven {
0% {
		opacity: 0;
		transform: translateY(-20px);
		height: 10px;
	}
	20% {
		opacity:1;
	}
	100% {
		transform: translateY(2px);
		height: 0px;
		opacity:0;
	}
}

.upload-icon{
  color: #5664d2;
  top: 10px;
  position: relative;
  font-size: 20px;
  left: 20px;
}

.social-container {
  width: 400px;
  margin: 0px;
  text-align: left;
}

.social-words {
  width: 100%;
  margin: 0px;
  text-align: left;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 0px;
}
.social-icons li {
  display: flex;
  margin: 0px;
  position: relative;
}
.social-icons i {
  color: #505d69;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inherit;
}
.social-icons li:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: block;
  
  transition: all 265ms ease-out;
  margin-right: 10px;
}
.social-icons li:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons li:hover i {
  transform: scale(1.6);
  -ms-transform: scale(1.6);
  -webkit-transform: rotate(-5deg) scale(1.5);
  color: #f4c20c;
  background: -webkit-linear-gradient(45deg, #f4c20c, #cea00c);
  -webkit-background-clip: text;
  transition: all 265ms ease-in;}

.icn {
  font-size: 50px;
  top: -5px !important;
}
/* SORTING */
input[id="price-htl"]:checked ~ .card-container .card-option {
  order: calc(var(--price) * -1);
}
input[id="price-lth"]:checked ~ .card-container .card-option {
  order: var(--price);
}
input[id="pickup-ftt"]:checked ~ .card-container .card-option {
  order: calc(var(--pickup) * -1);
}
input[id="pickup-ltt"]:checked ~ .card-container .card-option {
  order: var(--pickup);
}

.card-option {
  width: 100%;
  min-width: 14rem;
  height: auto;
  background: #fff;
  margin: 15px 0px;
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  color: #505d69;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
}

.date {
  font-size: 12px;
}
.card-featured {
  width: 100%;
  min-width: 14rem;
  height: auto;
  background: #1a202a;
  margin: 15px 0px;
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  color: #fff;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
}

.card-featured .table thead th {
  border-bottom: 2px solid #243249;
  vertical-align: bottom;
  color:#f4c20c;
}

.card-featured .table th, .card-featured .table td{
  border-top: 2px solid #243249;

}

.card-inner::after {
  display: block;
  content: "";
  margin-top: 1rem;
  height: 3px;
  width: 2rem;
}
.card-inner a {
  top: 0.4rem;
  cursor: pointer;
}


.card-container {
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem 0;
  overflow: hidden;
}
.card-container::after {
  display: block;
  content: "";
  width: 100vw;
}


.logo-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px;

}
.pickup::before {
  display: inline-block;
  content: "Pickup:";
  padding-left: 3px;
}
.air::before {
  display: inline-block;
  content: "Air:";
  padding-left: 3px;
}

.days::before {
  display: inline-block;
  content: "Days";
  padding-left: 3px;
}

.price::before {
  display: inline-block;
  content: "$";
}
.price::after {
  display: inline-block;
  content: "USD";
  font-size: 12px;
  padding-left: 3px;
}

.price-green::before {
  display: inline-block;
  content: "$";
  color: #67c3b4;
}
.price-green::after {
  display: inline-block;
  content: "USD";
  font-size: 12px;
  padding-left: 3px;
  color: #67c3b4;
}

.unit-kg::after {
  display: inline-block;
  content: "KG";
  font-size: 12px;
  padding-left: 3px;
}

.unit-m3::after {
  display: inline-block;
  content: "m3";
  font-size: 12px;
  padding-left: 3px;
}

.filter-by, .sort-by {
  margin-bottom: 1rem;
}
.filter-by > ul {
  margin-right: 2rem;
}
.filter-by li, .sort-by li, .sort-by details {
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
}
.sort-by details summary::-webkit-details-marker {
  color: #73f;
}
.sort-by details div {
  position: absolute;
  z-index: 9;
  background: white;
  padding: 1rem 1.5rem;
  width: 25%;
  border-radius: 0 0 1rem 1rem;
  text-align: right;
  right: 20px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08);
  box-shadow: 0 2px 4px rgba(0,0,0,.08);
}
.sort-by details label {
  display: inline-block;
  font-size: 0.9rem;
  color: grey;
}
.sort-by details summary {
  margin-bottom: 0.5rem;
  outline: none;
  cursor: pointer;
}
.filter-by li:nth-of-type(1), .sort-by li:nth-of-type(1) {
  font-weight: 700;
  color: #000;
  border-bottom: 1px solid #7d7d7d;
  margin-top: 0px;
  padding-bottom: 0px;
}
.filter-by li:nth-of-type(3)::after {
  display: inline-block;
  content: "";
  width: 3px;
  height: 1rem;
  margin-bottom: -0.2rem;
  margin-left: 1rem;
  background: #73f;
}
#clear-filters {
  color: grey;
  cursor: pointer;
  display: inline-block;
  opacity: 0;
  transform: translateX(2rem);
}
input[name="category"]:checked ~ div #clear-filters, input[name="properties"]:checked ~ div #clear-filters {
  opacity: 1;
  transform: translateX(0);
}


input[id="price-htl"]:checked ~ .sort-by label[for="price-htl"], input[id="price-lth"]:checked ~ .sort-by label[for="price-lth"], input[id="pickup-ftt"]:checked ~ .sort-by label[for="pickup-ftt"], input[id="pickup-ltt"]:checked ~ .sort-by label[for="pickup-ltt"] {
  box-shadow: inset 0 -2px 0 0 #73f;
}

/**/
.bold-text{
  font-weight: 500;
  font-size: 18px;
}

#set-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width:700px){
  .bold-text{
    font-weight: 500;
    font-size: 14px;
  }
  #set-buttons{
    display: inline-block;
  }
  
}

/*Route Table*/
.route {
  color: #979797;
}

.route .fas.fa-arrow-right {
  color: #c8c8c8;
  padding: 0px 10px;
}
.frecuency-day {
  font-weight: bold;
  color: #f4c20c;
}

.infobox {
  display: flex;
  align-items: center;
  justify-content: center; 
}
@media only screen and (max-width:550px){
  .infobox {
    display: block !important;}
    
}

#partner-logo{
  width: 150px;
  max-width: 100%;
  padding-top: 20px;
}

#partner-logo-sm{
  width: 100px;
  max-width: 100%;
  border-radius: 50px;
}

#route-data{
  display: flex;
  align-content: center;
  align-items: baseline;
}

@media only screen and (max-width:550px){
  #partner-logo {
    padding: 10px 17%;
    width: 240px;
    max-width: 100%;
}
  
}

@media only screen and (max-width:768px){
  #route-data{
    display: inline-block;
  }

}


.timeline {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  position: relative;
}
.timeline__event {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  margin: 25px 0;
  border-radius: 6px;
  align-self: center;
  width: 80vw;
}
.timeline__event:nth-child(2n + 1) {
  flex-direction: row-reverse;
}
.timeline__event:nth-child(2n + 1) .timeline__event__date {
  border-radius: 0 20px 20px 0;
}
.timeline__event:nth-child(2n + 1) .timeline__event__content {
  border-radius: 20px 0 0 20px;
}
.timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #d9d9d9;
  position: absolute;
  top: 0%;
  left: 50%;
  right: auto;
  z-index: -1;
  transform: translateX(-50%);
  animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #d9d9d9;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  animation: fillLeft 2s forwards 4s ease-in-out;
}
.timeline__event__title {
  font-size: 1.5rem;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  color: #383844;
  letter-spacing: 1.5px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.timeline__event__content {
  padding: 20px;
  box-shadow: 0 10px 10px -12px rgba(50, 50, 93, 0.25), 0 8px 6px -18px rgba(0, 0, 0, 0.3), 0 -12px 16px -8px rgba(0, 0, 0, 0.025);
  background: #fff;
  width: calc(70vw - 84px);
  border-radius: 0 20px 20px 0;
}
.timeline__event__date {
  color: #f4c20c;
  font-size: 1.5rem;
  font-weight: 600;
  background: #383844;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 20px;
  border-radius: 20px 0 0 20px;
}
.timeline__event__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4c20c;
  padding: 20px;
  align-self: center;
  margin: 0 20px;
  background: #383844;
  border-radius: 100%;
  width: 40px;
  box-shadow: 0 10px 20px -12px rgba(50, 50, 93, 0.25), 0 10px 6px -8px rgba(0, 0, 0, 0.3), 0 -12px 6px -8px rgba(0, 0, 0, 0.025);
  padding: 40px;
  height: 40px;
  position: relative;
  font-size: 32px;
}

.timeline__event__icon .fa, .timeline__event__icon .far, .timeline__event__icon .fas, .timeline__event__icon .fal, .timeline__event__icon .fad {
  margin:0;

}

.timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #d9d9d9;
  position: absolute;
  top: 0%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #d9d9d9;
  position: absolute;
  left: 0%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  animation: fillLeftOdd 2s forwards 4s ease-in-out;
}
.timeline__event__description {
  flex-basis: 60%;
}
.timeline__event--type2:after {
  background: #383844;
}
.timeline__event--type2 .timeline__event__date {
  color: #f4c20c;
  background: #383844;
}
.timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:before, .timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:after {
  background: #d9d9d9;
}
.timeline__event--type2 .timeline__event__icon {
  background: #383844;
  color: #f4c20c;
}
.timeline__event--type2 .timeline__event__icon:before, .timeline__event--type2 .timeline__event__icon:after {
  background: #d9d9d9;
}
.timeline__event--type2 .timeline__event__title {
  color: #383844;
}
.timeline__event--type3:after {
  background: #383844;
}
.timeline__event--type3 .timeline__event__date {
  color: #f4c20c;
  background-color: #383844;
}
.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:before, .timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:after {
  background: #d9d9d9;
}
.timeline__event--type3 .timeline__event__icon {
  background: #383844;
  color: #f4c20c;
}
.timeline__event--type3 .timeline__event__icon:before, .timeline__event--type3 .timeline__event__icon:after {
  background: #d9d9d9;
}
.timeline__event--type3 .timeline__event__title {
  color: #383844;
}
.timeline__event:last-child .timeline__event__icon:before {
  content: none;
}
@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
    align-self: center;
 }
  .timeline__event__content {
    width: 100%;
    border-radius: 0 0 20px 20px;
 }
  .timeline__event__icon {
    border-radius: 20px 20px 0 0;
    width: 100%;
    margin: 0;
    box-shadow: none;
 }
  .timeline__event__icon:before, .timeline__event__icon:after {
    display: none;
 }
 #level-cero .timeline__event__icon {
  display: none !important;
}

  .timeline__event__date {
    border-radius: 0;
    padding: 20px;
 }
  .timeline__event:nth-child(2n + 1) {
    flex-direction: column;
    align-self: center;
 }
  .timeline__event:nth-child(2n + 1) .timeline__event__date {
    border-radius: 0px;
    padding: 20px;
 }
  .timeline__event:nth-child(2n + 1) .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    margin: 0;
 }
 
.timeline__event:nth-child(2n + 1) .timeline__event__content {
  border-radius: 0 0 20px 20px;
}
}
@keyframes fillLeft {
  100% {
    right: 100%;
 }
}
@keyframes fillTop {
  100% {
    top: 100%;
 }
}
@keyframes fillLeftOdd {
  100% {
    left: 100%;
 }
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 10px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.people {
margin-bottom: -85px;
max-width: 500px;
}
/* Logikoins Levels */
.logikoins {
  width: 200px;
  color: #f4c20c;
}

.money-coin{
  width: 50px;
  margin: -10px 0px 0 10px;
}

#level-cero{
  padding:0px;
}

#level-one{
  background: url(/assets/images/backgrounds/bg-zeppelin.jpg);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding:100px 130px;
}

#level-two{
  background: url(/assets/images/backgrounds/bg-avioneta.jpg);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 130px;
}

#level-three{
  background: url(/assets/images/backgrounds/bg-jet.jpg);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 130px;
}

#level-four{
  background: url(/assets/images/backgrounds/bg-nave.jpg);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 130px;
}



